<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestão Vagas</title>
        <link rel="stylesheet" href="/static/css/main.css?v=1">
        <link rel="stylesheet" href="/static/css/inputs.css?v=1">
        <link rel="stylesheet" href="/static/css/buttons.css?v=2">
        <link rel="stylesheet" href="/static/css/table.css?v=3">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="header-class">
                <h1 id="username-title">Olá, {{user.nome_usuario}}</h1>
                <button class="btn-default" id="btn-logout"><a href="/login" id="anchor-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Log Out</b></a></button>
            </div>
        </header>

        <main>
            <div class="main-div">

                <div class="right-card">
                    <form method="post" action="/nova-vaga">
                        <div class="div-inputs" id="div-vaga">
                            <label>VAGA</label>
                            <input type="text" name="vaga" placeholder="Vaga" required>
                        </div>
                        
                        <div class="div-inputs" id="div-empresa">
                            <label>EMPRESA</label>
                            <input type="text" name="empresa" placeholder="Empresa" required>
                        </div>

                        <div class="div-inputs" id="div-local">
                            <label>LOCAL</label>
                            <input type="text" name="local" placeholder="Local" required>
                        </div>

                        <div class="div-inputs" id="div-salario">
                            <label>SALÁRIO</label>
                            <input type="number" name="salario" placeholder="R$" required>
                            <!--<input type="text" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" placeholder="R$" required min="0" >-->
                        </div>

                        <div class="div-inputs" id="div-modelo">
                            <label>MODELO</label>
                            <select name="modelo" required >
                                <option selected disabled></option>
                                <option>Presencial</option>
                                <option>Remoto</option>
                                <option>Híbrido</option>
                            </select>
                        </div>

                        <div class="div-inputs" id="div-botao">
                            <button class="btn-default" id="btn-nova-vaga"><i class="fa-solid fa-plus"></i> <b>Nova Vaga</b></button>
                        </div>
                    </form>
                </div>
                
                <div class="left-card">
                    <div class="table-div">
                        <table>
                            <thead>
                                <tr>
                                    <th>VAGA</th>
                                    <th>EMPRESA</th>
                                    <th>LOCAL</th>
                                    <th>SALÁRIO</th>
                                    <th>MODELO</th>
                                    <th>STATUS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if vagas %}
                                    {% for vaga in vagas %}
                                        <tr>
                                            <td>{{ vaga.nome_vaga }}</td>
                                            <td>{{ vaga.nome_empresa }}</td>
                                            <td>{{ vaga.local }}</td>
                                            <td>{{ vaga.salario }}</td>
                                            <td>{{ vaga.modelo_vaga }}</td>
                                            <td>
                                                <div class="texto-status">
                                                    {{ vaga.status_vaga }}
                                                </div>
                                            </td>
                                            <td>
                                                <form>
                                                    <div class="table-btn-div">
                                                        <button class="btn-delete">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                            <b>DELETAR</b>
                                                        </button>
                                                        
                                                        <button class="btn-update">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                            <b>EDITAR</b>
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                {%endif%}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="7" id="texto-total-vagas"><strong>Total de Vagas: {{ vagas|length }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
            </div>
        </main>
        

        <script src="/static/js/script.js?v=1" ></script>
    </body>
</html>